@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Viga');

.header{
	text-align:left;
/*	background-image : linear-gradient(to right, #1a237e, #283593, #303f9f, #3949ab, #1976d2);
*/
	background-image : linear-gradient(to right,#311b92, #4527a0, #1a237e, #283593, #303f9f, #3949ab, #1976d2, #00acc1, #26c6da, #4dd0e1, #00e5ff, #18ffff);
	margin-bottom: 6px;
	height: 90px;
	padding: 0px;
	margin-top: 0;
	box-sizing: border-box;
	position: relative;
	width: 100%;
}

/* to be re-used 
.header-text{
	color: white;
	font-family: 'Staatliches', cursive;
	padding-top: 0px; 
	padding-left: 15px; 
	font-size: 80px;
	text-shadow : 4px 4px 4px #00e5ff;

}
*/

/* experimental header text code */

.header-text {
  font-family: 'Staatliches', cursive;
  font-size:80px;
  border: none;
  padding-left: 23px;
  color: rgba(255,255,255,0.6);
  /*text-align: center; */
  text-shadow: 
     1px 5px 4px rgba(0,0,0,.3), 
    0 0 2px rgba(255,255,255,0.6), 
    0 0 10px rgba(255,255,255,0.6), 
    0 0 20px rgba(255,255,255,0.6), 
    0 0 30px rgba(255,255,255,10.6), 
    0 0 35px #1e88e5; 
   /* 0 0 70px #18ffff, 
    0 0 80px #18ffff,
    0 0 100px #18ffff;
    */
}


.header-text span{
  animation: blink 0.2s infinite alternate;
}

.header-text span.delay{
  animation-duration:4s;
  animation-delay: 1s;
  animation-direction: alternate;
  cubic-bezier(0.5, 0.2, 0.3, 1.0)
  

}


@keyframes blink {
  0%   {}
  50%  {}
  60%{
    text-shadow: 
      0 0 2px rgba(255, 255,225, .1), 
      0 0 8px rgba(255, 255,225, .4);
    
    text-stroke: 1px rgba(255,255,255,0.05); /*0.05*/
  }
  70%{
    text-shadow: 
      0 0 2px rgba(255,255,255,.7), 
      0 0 10px rgba(255,255,255,.7), 
      0 0 20px rgba(255,255,255,.7), 
      0 0 30px rgba(255,255,255,.7), 
      0 0 40px #1e88e5; 
     /* 0 0 70px #18ffff, 
      0 0 80px #18ffff, 
      0 0 100px #18ffff; */
  }
  80%{
    text-shadow: 
      0 0 2px rgba(255, 255,255, .1), 
      0 0 10px rgba(255, 255,255, .4);
    
    text-stroke: 1px rgba(255,255,0,0.05);
  }
  100% { 
    text-shadow: 
      0 0 2px rgba(255,255,255,.7), 
      0 0 10px rgba(255,255,255,.7), 
      0 0 20px rgba(255,255,255,.7), 
      0 0 30px rgba(255,255,255,.7), 
      0 0 40px #1e88e5; 
     /* 0 0 50px #212121;
      0 0 80px #18ffff,
      0 0 100px #18ffff; */
  }
}

.thelogo{
	height: 50px;
	width : 90px;
	align-self: right;
}


body, html{
    background-color: black;
   /* background-repeat:repeat; */
    margin: 0;
    height : 100%;
}

#data-wrapper{
	display: table;
	width: 100%;
	overflow: hidden;
}

#row{
	display: table-row;
}

#voltage-tab-wrapper{
	display: table-cell; 
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 430px;
	height: 250px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	border : 4px #18ffff;
	/*
	outline-style: solid;
	outline-color: black;
	border : 4px solid black;
	*/
	
}

#voltage-data{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 22px;
}

#voltage_log{
	font-family: 'Viga', sans-serif;
	font-size: 31px;
	text-shadow : 3px 3px black;
}

#voltage_unit{
	
}


#current-tab-wrapper{
	display: table-cell;
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 430px;
	height: 250px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	/* outline-style: solid;
	outline-color: black;
	border : 4px solid black; */
}

#current-data{
	color: white;
	font-family: 'Cabin', sans-serif;
	padding-top: 12px;
	padding-left: 10px;
	font-size: 22px;
}

#current_log{
	font-family: 'Viga', sans-serif;
	font-size: 31px;
	text-shadow : 3px 3px black;
}

#frequency-tab-wrapper{
	display: table-cell;
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 400px;
	height: 250px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	/*
	outline-style: solid;
	outline-color: black;
	border : 4px solid black;
	*/
}

#frequency-data{
	color: white;
	padding-top: 12px;
	padding-left: 10px;
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
}

#frequency_log{
	font-family: 'Viga', sans-serif;
	font-size: 31px;
	text-shadow : 3px 3px black;
}

.load-status-header{
	/*background-image : linear-gradient(to right, #1a237e, #283593, #303f9f, #3949ab, #1976d2);
	*/
	background-image : linear-gradient(to right,#311b92, #4527a0, #1a237e, #283593, #303f9f, #3949ab, #1976d2, #00acc1, #26c6da, #4dd0e1, #00e5ff, #18ffff);
	margin-top: 6px;
	height : 45px;
	padding : 0px;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 6px;
	width: 100%;
}

.load-status-header-text{
	font-family: 'Fjalla One', sans-serif;
	color : white;
	font-size: 30px;
	margin-bottom: 2px;
	text-shadow: 3px 3px black;
}

#load-status-wrapper{
	display: table-cell;
	width: 100%;
	overflow: hidden;
	/*box-sizing: border-box;*/
}

#load-row{
	display: table-row;
}

#first-load{
	display: table-cell; 
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 335px;
	height: 250px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	box-sizing: border-box;
	/*outline-style: solid;
	outline-color: black;
	border : 3px solid black;*/
	text-align: center;
}

#first-load-name{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#first-load-status{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px black;
}

#first-load-bpi{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#first-load-bpi-value{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px 2px black;
}
#second-load{
	display: table-cell; 
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 338px;
	height: 250px;
	margin-right: 10px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	/*outline-style: solid;
	outline-color: black;
	border : 3px solid black;*/
	text-align: center;
}

#second-load-name{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#second-load-status{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px black;
}

#second-load-bpi{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#second-load-bpi-value{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px 2px black;
}

#third-load{
	display: table-cell; 
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 338px;
	height: 250px;
	margin-right: 10px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	/*outline-style: solid;
	outline-color: black;
	border : 3px solid black;*/
	text-align: center;
}

#third-load-name{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#third-load-status{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px black;
}

#third-load-bpi{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#third-load-bpi-value{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px 2px black;
}

#fourth-load{
	display: table-cell; 
	background-image : linear-gradient(to right, #212121, #424242, #616161);
	width: 342px;
	height: 250px;
	margin-right: 10px;
	overflow: hidden;
	font-size: 20px;
	box-sizing: border-box;
	/*outline-style: solid;
	outline-color: black;
	border : 3px solid black;*/
	text-align: center;
}

#fourth-load-name{
	color: white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#fourth-load-status{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px black;
}

#fourth-load-bpi{
	color:white;
	padding-top: 12px;
	font-family: 'Cabin', sans-serif;
	padding-left: 10px;
	font-size: 20px;
	text-shadow : 2px 2px 2px black;
}

#fourth-load-bpi-value{
	font-family: 'Viga', sans-serif;
	text-shadow : 2px 2px 2px black;
}

#submit_tab{
	background-image : linear-gradient(to right, #1a237e, #303f9f, #3f51b5, #7986cb); 
}
/* used margin-top as negative and bottom paramters to deal with the 
   parent div resizing issue */
#voltage_graph {
    width: 380px;
    height: 250px;
    padding-top: 10px;
    margin-top: -200px;
    margin-right: 20px;
    margin-bottom: 10px;

   /* margin: 0 auto; */
}

#current_graph {
    width: 380px;
    height: 250px;
    padding-top: 10px;
    margin-top: 20px;
    bottom: 10px;
    margin-top: -200px;
   

   /* margin: 0 auto; */
}

#frequency_graph {
    width: 380px;
    height: 250px;
    padding-top: 10px;
    margin-top: 20px;
    bottom: 10px;
    margin-top: -200px;
    
   /* margin: 0 auto; */
}

#ending_block
{
	height : 80px;
	margin-top: 6px;
	width: 100%;
/*	background-image: linear-gradient(to right, #1a237e, #283593, #303f9f, #3949ab, #1976d2);
*/
	background-image : linear-gradient(to right,#311b92, #4527a0, #1a237e, #283593, #303f9f, #3949ab, #1976d2, #00acc1, #26c6da, #4dd0e1, #00e5ff, #18ffff);

}

#button0 {
  padding: 15px 25px;
  font-size: 24px;
  width : 90px;
  height: 30px;
  margin-top: 12px;
  text-align: center;
  margin-left: 94px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px black;
 /* box-shadow: 0 9px #999; */
}

#button1 {
  padding: 15px 25px;
  font-size: 24px;
  width : 90px;
  height: 30px;
  margin-top: 12px;
  text-align: center;
  margin-left: 95px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px black;
 /* box-shadow: 0 9px #999; */
}

#button2 {
  padding: 15px 25px;
  font-size: 24px;
  width : 90px;
  height: 30px;
  margin-top: 12px;
  text-align: center;
  margin-left: 95px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px black;
 /* box-shadow: 0 9px #999; */
}

#button3 {
  padding: 15px 25px;
  font-size: 24px;
  width : 90px;
  height: 30px;
  margin-top: 12px;
  text-align: center;
  margin-left: 98px;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px black;
 /* box-shadow: 0 9px #999; */
}





